{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h2>Welcome, {{ user.first_name }} {{ user.last_name }}</h2>
        <p>Email: {{ user.email }}</p>

        <!-- User Profile Details -->
        <h3>Your Profile</h3>
        <ul>
            <li>Mobile: {{ user.profile.mobile }}</li>
            <li>Country: {{ user.profile.country }}</li>
            <li>Birthday: {{ user.profile.birthday }}</li>
        </ul>

        <a href="{% url 'signout' %}" class="btn btn-danger">Sign Out</a>
    </div>
{% endblock %}
